<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description"
        content="Des logiciels de qualité créés par des talents, où qu'ils soient.">
  <meta name="keywords" content="development, software, logiciel, qualité, web, mobile">
  <meta name="author" content="AllCraft">
  <meta name="owner" content="AllCraft">
  <meta name="reply-to" content="info@allcraft.io">
  <meta name="content-language" content="fr">

  <meta property="og:url" content="https://allcraft.io"/>
  <meta property="og:title" content="AllCraft"/>
  <meta property="og:description"
        content="Des logiciels de qualité créés par des talents, où qu'ils soient."/>
  <meta property="og:locale" content="fr_FR"/>
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>
  <meta property="og:image" content="https://s3.eu-central-1.amazonaws.com/allcraft/allcraft.png"/>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@allcraft_io">
  <meta name="twitter:title" content="AllCraft">
  <meta name="twitter:description"
        content="Des logiciels de qualité créés par des talents, où qu'ils soient.">
  <meta name="twitter:image" content="https://s3.eu-central-1.amazonaws.com/allcraft/allcraft.png">

  <meta name="theme-color" content="#1e2834">

  <link rel="icon" type="image/png" href="/favicon/favicon.png" sizes="96x96"/>

  <title>AllCraft</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
<div id="root" style="opacity: 0"></div>
<script type="application/javascript">
  window.onload = function () {
    var root = document.getElementById('root');
    var duration = 200;
    root.style.opacity = 1;
    root.style.transition = 'opacity ' + duration + 'ms';
  }
</script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
<script type="text/javascript">CRISP_WEBSITE_ID = "c627095c-4d75-4e09-bb7f-c49b6d8498cf";
  (function () {
    d = document;
    s = d.createElement("script");
    s.src = "https://client.crisp.im/l.js";
    s.async = 1;
    d.getElementsByTagName("head")[0].appendChild(s);
  })();</script>
</body>
</html>
