@import '../common';

.client {

  padding-top: @navBarHeight;

  @media @desktop {
    text-align: center;
    padding-top: 0;
  }

  h2 {
    margin: auto;
    padding: @spacing*2 @spacing 0 @spacing;
    max-width: @maxWidth;

    @media @desktop {
      padding: @spacing*3 0 0 0;
    }
  }

  h3 {
    margin: auto;
    padding: @spacing @spacing 0 @spacing;
    max-width: @maxWidth;

    @media @desktop {
      padding: @spacing*2 0 0 0;
    }
  }

  p {
    margin: auto;
    padding: @spacing;
    max-width: @maxWidth;

    &:first-of-type {
      text-align: left;
      @media @desktop {
        text-align: center;
      }
    }

    @media @desktop {
      text-align: justify;
      padding: @spacing*2 0 0 0;
    }
  }

  div {
    background: url('./../Nav/pattern.png') repeat;
    background-size: 40px;

    ul {
      padding: @spacing*2 @spacing*1.5 @spacing*2 @spacing*1.5;
      color: #ffffff;
      font-family: RobotoLight, sans-serif;
      text-align: left;

      @media @desktop {
        margin: @spacing*3 auto @spacing*2 auto;
        max-width: @maxWidth;
        font-size: @fontSize*2.5;
      }

      li {
        .bullet {
          height: 10px;
          width: 10px;
          border-radius: 100%;
          background-color: @accent;
          display: block;
          float: left;
          margin-top: 10px;
          margin-right: 20px;
        }
        .return {
          display: block;
          margin-left: 30px;
        }
        &:last-of-type {
          margin: 4px 0 0 0;
        }
      }
    }
  }

  .we-do-not {
    background-color: @secondary;
    margin-top: @spacing*2;
    padding-bottom: @spacing;
    @media @desktop {
      padding-bottom: @spacing*3;
    }
  }
}
