@import '../common';

.skills {
  background-color: @secondary;
  padding: @spacing;
  margin: @spacing 0 0 0;

  @media @desktop {
    padding: @spacing*2;
  }

  .categories {
    text-align: center;
    max-width: @maxWidth*1.3;
    margin: @spacing*2 auto 0 auto;

    @media @desktop {
      display: flex;
    }

    .column {
      margin: @spacing*2 0 0 0;
      @media @desktop {
        width: 30%;
        margin: @spacing*1.5 @spacing @spacing @spacing;
      }
      h2 {
        margin: @spacing 0 @spacing 0;
        @media @desktop {
          margin: @spacing*1.5 0 @spacing 0;
        }
      }
    }
  }

  > h2 {
    margin: @spacing 0 0 0;
  }

  h3 {
    text-transform: uppercase;
    color: @accent;
  }
}
