@import "../common";

.freelance {

  padding-top: @navBarHeight;

  @media @desktop {
    text-align: center;
    padding-top: 0;
  }

  h2 {
    margin: auto;
    padding: @spacing*2 @spacing 0 @spacing;
    max-width: @maxWidth;

    @media @desktop {
      padding: @spacing*3 0 0 0;
    }
  }

  h3 {
    margin: auto;
    padding: @spacing @spacing 0 @spacing;
    max-width: @maxWidth;

    @media @desktop {
      padding: @spacing*2 0 0 0;
    }
  }

  p {
    margin: auto;
    padding: @spacing;
    max-width: @maxWidth;
    text-align: left;

    @media @desktop {
      padding: @spacing*2 0 0 0;
      text-align: justify;
    }
  }

  > div {
    text-align: center;
    background: url('./../Nav/pattern.png') repeat;
    background-size: 40px;
    padding: @spacing @spacing*1.5 @spacing @spacing*1.5;
    color: #ffffff;
    font-family: RobotoLight, sans-serif;
    margin: @spacing 0;

    @media @desktop {
      margin: @spacing*3 0 0 0;
    }

    ul {
      max-width: @maxWidth*1.2;

      @media @desktop {
        margin: auto;
        padding: 0 @spacing*1.5 0 @spacing*1.5;
        font-size: @fontSize*2;
        display: flex;
        flex-wrap: wrap;
      }

      img {
        width: 60px;
        margin: @spacing 0 @spacing/2 0;
      }

      h2 {
        padding: 0;

        @media @desktop {
          font-size: @fontSize*2.5;
          line-height: @fontSize*3.5;
        }
      }

      p {
        color: white;
        text-align: center;
      }

      li {
        max-width: 350px;
        margin: @spacing auto;
      }
    }
  }

  .schema-craftsman {
    width: 90%;
    max-width: 430px;
    margin: @spacing*2 auto;
    display: block;
  }

  .logo-skillz {
    margin: @spacing*2 auto 0 auto;
    display: block;
  }
}
