@import "../common";

.method {

  padding-top: @navBarHeight;

  @media @desktop {
    text-align: center;
    padding-top: 0;
  }

  h2 {
    margin: auto;
    padding: @spacing*2 @spacing 0 @spacing;
    max-width: @maxWidth;

    @media @desktop {
      padding: @spacing*3 0 0 0;
    }
  }

  h3 {
    margin: auto;
    padding: @spacing @spacing 0 @spacing;
    max-width: @maxWidth;

    @media @desktop {
      padding: @spacing*2 0 0 0;
    }
  }

  p {
    margin: auto;
    padding: @spacing;
    max-width: @maxWidth;
    text-align: justify;

    &:first-of-type {
      text-align: left;
      @media @desktop {
        text-align: justify;
      }
    }

    @media @desktop {
      padding: @spacing*2 0 0 0;
    }
  }

  @schemaWidth: 275px;

  .schema-team {
    width: 90%;
    max-width: @schemaWidth;
    margin: @spacing*2 auto;
    display: block;

    @media @desktop {
      margin: @spacing*3 auto;
    }
  }

  .schema-ac {
    width: 90%;
    max-width: @schemaWidth;
    margin: @spacing*2 auto;
    display: block;

    @media @desktop {
      display: none;
    }
  }

  .schema-ac-landscape {
    width: 90%;
    max-width: 1200px;
    margin: @spacing*4 auto;
    display: block;

    @media @phone {
      display: none;
    }
  }

  .tools-frameworks {
    width: 90%;
    max-width: @schemaWidth*2;
    margin: @spacing*2 auto;
    display: block;

    @media @desktop {
      margin: @spacing*3 auto;
    }
  }

  .tools {
    width: 90%;
    max-width: @schemaWidth*2;
    margin: @spacing*2 auto;
    display: block;

    @media @desktop {
      margin: @spacing*3 auto;
    }
  }
}
