@import "../common";

.team {
  max-width: 645px;
  margin: auto;
  min-height: 780px;
  padding-top: @navBarHeight;

  @media @desktop {
    text-align: center;
    padding-top: 0;
  }

  h2 {
    margin: auto;
    padding: @spacing*2 @spacing 0 @spacing;
    max-width: @maxWidth;

    @media @desktop {
      padding: @spacing*3 0 @spacing 0;
    }
  }

  ul {
    margin: 0;
    padding-top: 1rem;
    text-align: center;

    li {
      padding: 1rem;

      > div {
        margin: auto;
        border-radius: @radius;
        border: 5px solid white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        max-width: 280px;
        max-height: 280px;
        position: relative;

        > div {
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: @accent;
          opacity: 0;
          transition: opacity .2s ease;

          > div {
            margin-top: 95px;
            a {
              cursor: pointer;
              opacity: 0;
              padding: 10px;
              svg {
                height: 20px;
                path {
                  transition: fill .2s ease;
                  fill: @primary;
                }
              }
              &:hover {
                svg {
                  path {
                    fill: white;
                  }
                }
              }
            }
            span {
              font-size: @fontSize*2.5;
              display: block;
              margin-bottom: 1rem;
            }
          }

          &:hover {
            opacity: .8;
            > div {
              a {
                opacity: 1;
              }
            }
          }
        }

        img {
          width: 100%;
        }
      }

      @media @desktop {
        float: left;
      }
    }

    &:last-of-type {
      clear: both;

      li {
        @media @desktop {
          float: none;
        }
      }
    }
  }

}
