//COLOR

@primary: #1e2834;
@accent: #d4bd94;
@secondary: #f4f6f7;
@textPrimary: #1e2834;
@textSecondary: #5d676c;
@cta: #99a8b0;

//DIMENSION

@radius: 2px;
@phone: 480px;
@spacing: 20px;
@fontSize: 10px;
@desktop: ~'only screen and (min-width: 680px)';
@landscape: ~'only screen and (max-height: 414px)';
@phone: ~'only screen and (max-width: 680px)';
@maxWidth: 660px;
@navBarHeight: 62px;
