@import './common';

@font-face {
  font-family: NexaBold;
  src: url('./NexaBold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: RobotoLight;
  src: url('./RobotoLight.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: RobotoMedium;
  src: url('./RobotoMedium.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-size: @fontSize;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: @accent;
}

ul {
  list-style: none;
  padding: 0;
  font-family: RobotoLight, sans-serif;
  font-size: @fontSize*1.8;
  line-height: @fontSize*3;
  li {
    ul {
      margin: 0;
    }
  }
}

h1 {
  font-family: NexaBold, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: @fontSize*2.9;
  line-height: 1.3em;

  @media @desktop {
    font-size: @fontSize*6;
  }
}

h2 {
  font-size: @fontSize*2;
  font-family: NexaBold, sans-serif;
  color: @accent;
  text-transform: uppercase;

  @media @desktop {
    font-size: @fontSize*4;
    line-height: @fontSize*4;
  }
}

h3 {
  font-size: @fontSize*2;
  color: @textPrimary;
  font-family: RobotoMedium, sans-serif;
  padding: @spacing 0 0 0;

  @media @desktop {
    font-size: @fontSize*3;
    padding: @spacing*2 0 0 0;
  }
}

p {
  font-size: @fontSize*2;
  color: @textSecondary;
  font-family: RobotoLight, sans-serif;
  padding: @spacing 0 0 0;

  strong {
    font-family: RobotoMedium, sans-serif;
    font-weight: normal;
  }

  @media @desktop {
    font-size: @fontSize*2.5;
    padding: @spacing*2 0 0 0;
  }
}

a {
  font-family: RobotoMedium, sans-serif;
  text-decoration: inherit;
  transition: color .4s ease;

  &:hover {
    color: @primary;
  }

  &:active {
    color: @primary;
    opacity: .7;
    background: none;
  }
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

input, textarea {
  font-size: @fontSize*2;
  font-family: RobotoLight, sans-serif;
  outline: none;
  border: solid 1px transparent;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
  &:active, &:focus {
    border: solid 1px @primary;
  }
  @media @desktop {
    font-size: @fontSize*2.2;
  }
}

.button-link {
  text-transform: uppercase;
  margin: @spacing 0 0 0;
  font-size: @fontSize*1.4;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: @secondary;
  color: @textSecondary;
  border: none;
  font-family: RobotoMedium, sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  transition: background-color .4s ease;
  &:hover {
    background-color: @cta;
  }
  @media @desktop {
    margin: @spacing*3 0 0 0;
  }
  &:disabled {
    opacity: .4;
    &:hover {
      background-color: @secondary;
    }
  }
}
