@import '../common';

header {
  background: url('./pattern.png') repeat;
  background-size: 40px;
  width: 100%;
  &.others {
    position: fixed;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;

    @media @desktop {
      position: relative;
    }
  }
  .nav-bar {
    height: @navBarHeight;
    max-width: @maxWidth*1.2;
    margin: auto;
    .logo {
      float: left;
      img {
        height: 33px;
        padding-top: 15px;
        padding-left: 17px;
      }
    }
    .links {
      margin-left: 177px;
      text-align: right;

      a {
        display: none;
        padding: 10px 12px;
        margin: 11px 10px;
        font-family: RobotoMedium, sans-serif;
        text-transform: uppercase;
        font-size: @fontSize*1.4;
        color: white;
        transition: color .4s ease, background-color .4s ease;
        border-radius: @radius;

        &:hover {
          background-color: rgba(255, 255, 255, .2);
        }

        span.active {
          color: @accent;
        }

        @media only screen and (min-width: 800px) {
          display: inline-block;
        }
      }

      .drawer-link {
        opacity: .8;
        padding: 18px;
        &:active {
          opacity: .6;
        }
        @media only screen and (min-width: 800px) {
          display: none;
        }
      }
    }
  }
  h1.tag-line {
    padding: @spacing;
    max-width: @maxWidth;
    margin: auto;
    @media @desktop {
      padding: @spacing*5 0;
      text-align: center;
    }
    .highlight {
      color: @accent;
    }
  }
  .drawer {
    position: fixed;
    top: -200%;
    height: 100%;
    width: 100%;
    background: url('./pattern.png') repeat;
    background-size: 40px;
    text-transform: uppercase;
    text-align: center;
    transition: top .6s ease-out;

    @media only screen and (min-width: 800px) {
      display: none;
    }

    button {
      float: right;
      opacity: .8;
      padding: 18px;
    }

    &.visible {
      top: 0;
    }

    a {
      display: block;
      text-transform: uppercase;
      font-family: NexaBold, sans-serif;
      font-size: @fontSize*2.8;
      color: white;
      margin-top: 10%;

      @media @landscape {
        margin-top: 3%;
      }

      span.active {
        color: @accent;
      }

      &:first-of-type {
        margin-top: 80px;
        @media @landscape {
          margin-top: 62px;
        }
      }
    }
  }
  .app-bar {
    margin: auto;
    max-width: @maxWidth*1.5;
  }
  .typed-cursor {
    color: @accent;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
