@import '../common';

.contact {
  padding-top: @navBarHeight;

  @media @desktop {
    text-align: center;
    padding-top: 0;
  }

  h2 {
    margin: auto;
    padding: @spacing*2 @spacing 0 @spacing;
    max-width: @maxWidth;

    @media @desktop {
      padding: @spacing*3 0 0 0;
    }
  }

  .form-wrapper {
    background: @secondary;
    margin-top: 30px;
    padding: @spacing*2 @spacing @spacing*2 @spacing;

    @media @desktop {
      margin-top: 50px;
    }

    form {

      max-width: @maxWidth;
      margin: auto;

      input {
        box-sizing: border-box;
        width: 100%;
        margin-top: @spacing;
        padding: @spacing/2;
        border-radius: @radius;
        &:first-of-type {
          margin: 0;
        }
      }

      textarea {
        box-sizing: border-box;
        resize: none;
        margin-top: @spacing;
        padding: @spacing/2;
        border-radius: @radius;
        height: @spacing*12;
        width: 100%;
      }

      .button-link {
        margin-top: @spacing*1.5;
        background: white;
      }
    }
  }
}
