@import '../common';

footer {
  color: @accent;
  font-size: @fontSize*1.8;
  text-align: center;
  padding: @spacing;
  font-family: RobotoMedium, sans-serif;

  @media @desktop {
    padding: @spacing*2 0 @spacing*3 0;
    font-size: @fontSize*2;
  }

  .social {
    margin-top: @spacing;

    a {
      padding: 0 10px;

      svg {
        height: 30px;

        path, rect {
          fill: @accent;
          transition: fill .4s ease;
        }
      }
      &:hover {
        svg {
          path, rect {
            fill: @primary;
          }
        }
      }
    }
  }

  span.separator {
    font-size: @fontSize*4;
    font-family: RobotoLight, sans-serif;
    color: @secondary;
  }

  img {
    width: 250px;
    margin-top: @spacing/2;
  }
}
